.counter {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.counter__output {
  font-size: 40px;
  color: rgb(8, 8, 8);
}

.btn__container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 20px;
}

.control__btn {
  font-size: 20px;
  padding: 10px 20px;
  color: rgb(16, 0, 54);
  border: 1px solid rgb(16, 0, 54);
}
